.view {
  display: inline-block;
  height: 300px;

  border: 1px solid red;
}

canvas.view {
  width: 400px;
}

.view.image {
  min-width: 300px;
}

.input .image:after {
  position: absolute;
  margin: auto auto;
  display: inline-block;
  content: 'Drag image here';
}

.over {
  border-color: green;
}
